---
interface Props {
	name: string;
    img: string;
}

const { name, img } = Astro.props;
---


<div class="cards-stage">
    <div class="card-img">
        <img src={img} height="360" alt="">
    </div>
    <div class="card-poke">

        <div class="card-title">
            <h> {name} </h>
        </div>

        <div class="card-stats">
            <div class="card-info">

                <div class="stats-title">
                    <h>Stats</h>
                </div>
                <div class="stats-info">
                    <p>HP: 10</p>
                    <p>Attack: 12</p>
                    <p>Defense: 6</p>
                    <p>Sp. Attack: 9</p>
                    <p>Sp. Def: 6</p>
                    <p>Speed: 7</p>
                </div>

            </div>

        <div class="card-type">

            <div class="stats-title">
                <h>Type</h>
            </div>
            <div class="stats-type">
                <p>Psychic</p>
            </div>

        </div>
    </div>

    <div class="stats-rarity">
        <p>RARE</p>
    </div>

    </div>
</div>

<style>
	* {
		margin: 0;
		font-family: 'Inter Variable', sans-serif;
		box-sizing: border-box;
	}

	.cards-stage {
		margin: 5vh auto;
		display: block;
		justify-items: center;
		width: 200px;
	}

	.card-img {
		z-index: 10;
		top: 90px;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.card-poke {
		text-align: center;
		z-index: 8;
		position: relative;
		padding: 30px 10px;
		width: 200px;
		height: 300px;
		border-radius: 0 0 20px 20px;
		background-color: #F2F2F2;
	}

	.card-title h {
		font-family: 'Inter Variable';
		text-decoration: none;
		color: #2B233C;
		font-weight: 800;
		font-size: 1.6rem;
		}

		.card-stats {
			display: flex;
			justify-content: space-between;
		}

		.stats-title {
			padding: 3px;
			font-weight: 500;
			font-size: 1rem;
		}

		.stats-type {
			padding: 2px;
			border-radius: 4px;
			background-color: #D73CBE;
			color: white;
		}

		.stats-info {
			font-size: 0.9rem;
		}

		.stats-type p {
			font-size: 0.9rem;
		}

		.stats-rarity {
			margin: 10px;
			color: #F2F2F2;
			font-weight: 600;
			font-size: 1rem;
		}

		.stats-rarity p {
			padding: 10px;
			background-color: #4B17E1;
			border-radius: 20px;
		}

</style>