<header>
    <div class="menu">
        <div class="logo">
            <a href="http://localhost:4321">Zeta<span class="l_logo">Cards</span></a>
        </div>
        <div class="dir">
            <a href="http://localhost:4321">Home</a>
            <a href="pokedex">Pokedex</a>
        </div>
    </div>
</header>

<style>
    	header {
		.menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 50px;
			margin: 0px 10px;
		}

		.logo a {
			text-transform: uppercase;
			color: #ffffff;
			font-size: 1.6rem;
			font-weight: 600;
			text-decoration: none;
		}

		.l_logo {
			color: #46eeb3;
		}

		.dir a {
			padding: 10px;
			color: #C2D3CD;
			text-decoration: none;
		}

		.dir a:hover {
			color: #6bdfb6;
			transition: 1s;
		}
	}
</style>