<div class="Pokemon-Card">
    <div class="Poke-types">
        <div class="Poke-type">Grass</div>
        <div class="Poke-type-icon"></div>
    </div>


    <div class="Poke-info">

        <div class="Poke-title">
            <div class="Poke-title_name">
                <p>Ivysaur</p>
            </div>
            <div class="Poke-title_tag">
                <p>1623</p>
            </div>
        </div>
        <div class="Poke-Image">
            <!-- <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f619ed0-b566-4538-8392-bf02ca7a76cd/dck5jo1-0fc1c9aa-9f74-47bd-8580-b1441fdaf694.png/v1/fill/w_900,h_815/002_ivysaur_png___3__by_andersonaas107_dck5jo1-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODE1IiwicGF0aCI6IlwvZlwvMWY2MTllZDAtYjU2Ni00NTM4LTgzOTItYmYwMmNhN2E3NmNkXC9kY2s1am8xLTBmYzFjOWFhLTlmNzQtNDdiZC04NTgwLWIxNDQxZmRhZjY5NC5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.GTMMY53mnNIsvFVK1qYfoaXLVSbAPrL_AjxdOiGWnPU" alt=""> -->
            <img src="https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/5/52/latest/20230405131338/Ivysaur_SSBU.png/1200px-Ivysaur_SSBU.png" alt="">
        </div>
        <div class="Poke-description">
            <p>The more sunlight Ivysaur bathes in, the more strength wells up within it, allowing the bud on its back to grow larger.</p>
        </div>
        <div class="Poke-movements">
            <div class="Poke-move_title">
                <p>BEST MOVE SET</p>
            </div>
            <div class="Poke-move_mvs">
                <div class="Poke-move_mvs1">
                    <div class="Poke-move_mvs1_name">
                        <p>Vine Whip</p>
                    </div>
                    <div class="Poke-move_mvs1-type">
                        <p>Grass</p>
                    </div>
                </div>
                <div class="Poke-stab_mvs1">
                    <div class="Poke-stab_mvs1_p">
                        <p>Stab</p>
                    </div>
                    <div class="Poke-stab_mvs1-dp">
                        <p>13.5 dps</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Poke-weakness">
            <div class="Poke-weakness_title">
                <p>Weakness</p> 
            </div>
            <div class="Poke-weakness_types">
                <p>Flying, Fire, Psyhic, Ice</p>
            </div>
        </div>

    </div>

</div>

<style>

    @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

    *{
        box-sizing: border-box;
        color: #eaeae8;
    }

    .Pokemon-Card  {
        margin: 5vh auto;
        display: block;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: auto;
        background-color: #87ba37;
        -webkit-box-shadow: 10px 10px 79px -7px rgba(134, 128, 128, 0.52);
        -moz-box-shadow: 10px 10px 79px -7px rgba(150, 145, 145, 0.52);
        box-shadow: 10px 10px 79px -7px rgba(161, 159, 159, 0.52);
    }


    .Poke-types {
        padding: 5px 25px;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }

    .Poke-type {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #353e2b;
        letter-spacing: 2px;
    }

    .Poke-info {
        margin: 4px;
        background-color: #1e1e23;
    }

    .Poke-title {
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 40px;
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 500;
    }

    .Poke-description {
        padding: 15px;
        width: 100%;
        font-family: 'Poppins';
        font-size: 12px;
    }

    .Poke-description p {  
        font-size: 14px;    
        color: #747375;
    }

    .Poke-Image {
        margin: auto;
        width: 70%;
    }

    .Poke-weakness {
        display: flex;
        align-items: center;
        padding: 15px;
        font-family: 'Poppins';
    }

    .Poke-weakness_title p {     
        color: #747375;
        padding-right: 10px; 
    }

    .Poke-weakness_types p {
        font-weight: 500;
        font-size: 13px;
    }

    .Poke-movements {
        padding: 15px;
    }

    .Poke-move_title {
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 350;
        border-bottom: #87ba37 2px solid;
    }

    .Poke-move_mvs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .Poke-move_mvs1 {
        font-family: 'Poppins';
        display: flex;
        font-size: 12px;
        align-items: center;
    }

    .Poke-move_mvs1-type {
        font-size: 10px;
        padding-left: 10px;
    }

    .Poke-move_mvs1-type p {
        color: #87ba37;
    }

    .Poke-stab_mvs1 {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-family: 'Poppins';
    }

    .Poke-stab_mvs1-dp {
        padding-left: 10px;
    }


</style>